*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgba(141, 103, 230, 0.815), rgb(0, 0, 0));
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.memory-display {
  margin: 1px;
  grid-column: span 2;
  background-color: rgba(0, 0, 0, .72);
  color: white;
  font-size: 2.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.content {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.content > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.memory-button {
  background-color: rgba(15, 212, 253, .99);
}

.content .equal {
  background-color: rgba(187, 72, 72);
  grid-column: span 2;
}

.content .op {
  background-color: rgba(7, 163, 45, .64);
}

.content .triplo {
  grid-column: span 3;
}

.display {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .72);
  word-break: break-all;
}

.display .prev-op {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.display .curr-op {
  color: white;
  font-size: 2.5rem;
}

.sep {
  padding: 20px;
}